<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <style>
        .intro {
            width: 500px;
            height: 300px;
        }
    </style>
</head>
<body>
    <form action="/join">
    <p>
        아이디:<input type="text" name="u_id">
    </p>
    <p>
        비밀번호:<input type="text" name="u_pw">
    </p>
    <p>
        닉네임:<input type="text" name="nn">
    </p>
    <p>
        MBTI:<input type="text" name="mt">
    </p>
    <p>
        유저이미지:<input type="text" name="u_img">
    </p>
    <p>
        자기소개 한마디:<input type="text"name="ut" class="intro">
    </p>
    <button type=submit onclick="window.open('/')">가입완료</button >
    </form>
    
</body>
</html>

